body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 15px;
}
nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #ddd;
}
section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.bike-container {
   display: flex; 
   justify-content: space-around; 
   flex-wrap: wrap; 
}
.bike {
   border-radius: 8px; 
   overflow: hidden; 
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
   margin-bottom: 20px; 
}
.bike img {
   width: 100%; 
   height: auto; 
}
.bike h3 {
   margin-top: 10px; 
}
.rent-btn {
   background-color: #4CAF50; 
   color: white; 
   border:none; 
   padding:10px; 
   cursor:pointer; 
   border-radius:5px; 
   transition:.3s ease; 
}
.rent-btn:hover {
   background-color:#45a049; 
   transform: scale(1.05); 
}
footer {
   text-align:center; 
   padding:10px; 
   background-color:#f1f1f1; 
}

.modal {
   display:none; 
   position:fixed; 
   z-index:1; 
   left:0; 
   top:0; 
   width:100%; 
   height:auto; 
   overflow:auto; 
   background-color:rbg(0,0,0); /* Исправлено на rgba(0,0,0,0.5) */
}

.modal-content {
     background-color:#fff;  
     margin:auto;  
     padding:20px ;  
     border-radius:8px ;  
     width:auto ;  
     max-width :600px ;  
     box-shadow :2px 2px 10px rgba(0,0,0,.5);  
}

.close {
     color:#aaa ;  
     float:right ;  
     font-size :28px ;  
     font-weight :bold ;  
}

.close:hover,
.close:focuss{
     color:red ;  
     text-decoration:none ;  
     cursor:pointer ;  
}

@media (max-width :768px) { /* Адаптивные стили */
     .bike-container { flex-direction : column ; } /* Вертикальное расположение карточек */
}